DEBUG = True

# You should change this secret key to a uniquely secret string before deploying
SECRET_KEY = '***REMOVED***'

ELASTICSEARCH_HOST = 'http://127.0.0.1:9200'
ELASTICSEARCH_INDEX = 'annotator'

AUTH_ON = False
AUTHZ_ON = False
