[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
flask = "*"
annotator = {editable = true, extras = ["testing"], path = "."}
flask-oidc = "*"
flask-swagger-ui = "*"
requests = "*"
tqdm = "*"
bs4 = "*"
flask-login = "*"
arrow = "*"
six = "*"
simplejson = "*"
flask-mail = "*"
babel = "*"
flask-babel = "*"
cryptography = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "*"
