/* unvisited link */
  a:link {
    color: rgb(151, 151, 151);
    display: block;
    padding: 0.5rem  1rem;
    color: #000000;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  }
  
  /* visited link */
  a:visited {
    color: rgb(151, 151, 151);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(61, 61, 61);
  }
  
  /* selected link */
  a:active {
    color: rgb(66, 66, 66);
  }

/* Personalizando grupos de elemtos verticales */

.vertical-input-group .input-group:first-child {
  padding-bottom: 0;
}
.vertical-input-group .input-group:first-child * {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;    
}
.vertical-input-group .input-group:last-child {
  padding-top: 0;
}
.vertical-input-group .input-group:last-child * {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) {
  padding-top: 0;
  padding-bottom: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) * {
  border-radius: 0;
}  
.vertical-input-group .input-group:not(:first-child) * {
  border-top: 0;
}
  

.annotation-cat{
  box-sizing: border-box;
  border-radius: 5px;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: #4d4b4b;
  height: 30px;

  border: 1px solid #B4B4B4;
  padding-top: 2px;

}

.annotation-cat-feedback {
  background: #d0ffdc;
}

.annotation-cat-question {
  background: #f6ffa8;
}

.annotation-cat-term {
  background: #ffa7fb;
}