{% extends "templateV2.html" %} {% block title %} Servicepedia {% endblock %} {% block
    content %}





<hr />

<div class="container" style="align-items: center;justify-content: center;max-width: 80vh;">

    <div class="row" style="padding: 10px;text-align: center;">
        <div class="col">
            <h4> Approve Moderation Claims</h4>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col" style="padding: 10px;text-align: center;">
            <H5>For user: {{ email }}</H5>
        </div>

    </div>
</div>


<hr />

<div>
    <form class="form-inline my-2 my-lg-0" id="FormDescription" action="/gui/aprovarClaimsList" method="POST">

        <div class="grid-container">



            <div class="row">
                <h6>Sites:</h6>


                <div class="row">
                    <div class="table-responsive">
                       
                    <table class="table align-middle"  style="height: auto;text-align: center;align-items: center;align-content: center;">
                      <thead>
                        <tr >
                      
                          <th scope="col-1" >Approve</th>
                          <th scope="col-3" >Title</th>
                          <th scope="col-1">Details</th>
                          <th scope="col-3">Start-Date</th>
                          <th scope="col-3">Expire-Date</th>
                        </tr>
                      </thead>
                      <tbody  >
                        {% for argumento in argumentos %}
                        <tr>
    
                            <td>
                                <input class="form-check-input" type="checkbox" name="urlCheck_{{ loop.index}}"
                                id="urlCheck_{{ loop.index}}" checked>
                            </td>
                            <td>{{ argumento.title }} <input type="hidden" id="url_{{ loop.index}}" name="url_{{ loop.index}}"
                                value="{{ argumento.id }}"></td>
                            <td>
                                <a tabindex="0" class="btn btn-outline-secondary" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" title="{{ argumento.title }}" data-bs-content="{{ argumento.description }}" >Description</a>
                            </td>
                            <td>
                                <input type="date" name="ini_date_{{ loop.index}}" id="ini_date_{{ loop.index}}"
                                placeholder="select Birth date" value="{{ now }}" min="{{ now }}" max="{{ endDate }}">
                            </td>
                            <td>
                                <input type="date" name="end_date_{{ loop.index}}" id="end_date_{{ loop.index}}"
                                placeholder="select expiration date" value="{{ endDate }}" min="{{ now }}" max="{{ endDate }}">
                            </td>
                          </tr>
                          {% endfor %}

                        </tbody>
                    </table>

                    </div>

                </div>


            </div>


            <div class="row">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"><h6>Comments:</h6></label>
                    <textarea class="form-control" id="commentBox" name="commentBox" rows="3"></textarea>
                    <input type="hidden" id="email" name="email" value="{{ email }}">
                </div>
            </div>


            <div class="row">
                <div class="col" style="align-items: center;text-align: center;">
                    <button class="btn btn-success my-2 my-sm-0" id="btnSubmitDescription"
                        style="height: 40px;width: 100px;" type="submit">
                        Approve!
                    </button>

                </div>



            </div>

        </div>


    </form>
</div>


<hr />

<script>
    var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
        trigger: 'focus'
      })
</script>

{% endblock %}