{% extends "template.html" %} {% block title %} Servicepedia {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/accordion.css') }}">
{% endblock %}

{% block content %}




<script>

  //Falta cargar de nuevo cuando se tenga una consulta en memoria
  

  function searchText(event) {  
    if(event.type=='click'){
      event.preventDefault();

      textoBox = document.getElementById("searchBox");
      texto=textoBox.value

      padministration = document.getElementById("padministration");
      padministrationSel=padministration.selectedOptions[0].label;

      if(padministration.selectedOptions[0].index==0){
        padministrationSel="";
      }

      domain = document.getElementById("domain");
      domainSel=domain.selectedOptions[0].label;
    
      let page = event.target.getAttribute('page');
      if(page==null){
        page=1;
      }



      if(domain.selectedOptions[0].index==0){
        domainSel="";
      }
  
      //window.location = '/website/?searchText=' + texto+'&padministration=' + padministrationSel+'&domain=' + domainSel;
      //recargarTabla();

      function addShow(data) {

        entries=Object.entries(data)  
        descripcionesList=entries['0'][1] 
        numeroReg=entries[1][1]   

        $('#tablaDescriptions').empty();
       
        for (let dataItem of descripcionesList) {
          $('#tablaDescriptions').append(' <tr> <td> '+dataItem.padministration+' </td> <td> '+dataItem.title+' </td>  <td> '+dataItem.created+' </td> <td> <i class="bi bi-box-arrow-in-right " style="width:100px;"></i> </td></tr>')
        }
      
        $('#totalRegisters').text(numeroReg);

        $('#page').text('1');

        numeroPaginas=Math.ceil(numeroReg/10);
        $('#pagesNumbers').text(numeroPaginas);

       



        textoBox = document.getElementById("searchBox");
        texto=textoBox.value

        padministration = document.getElementById("padministration");
        padministrationSel=padministration.selectedOptions[0].label;

        if(padministration.selectedOptions[0].index==0){
          padministrationSel="";
        }

        domain = document.getElementById("domain");
        domainSel=domain.selectedOptions[0].label;
      
        
        if(domain.selectedOptions[0].index==0){
          domainSel="";
        }


        $('#paginador').empty();
        for (var j = 1; j < numeroPaginas+1; j++) {
          //$('#paginador').append(" <li class='page-item'><a class='page-link' href='?page="+j+"&textoABuscar="+texto+"&padministration="+padministrationSel+"&domain="+domainSel+"'>"+j+"</a></li>");
          $('#paginador').append(" <li class='page-item'><a class='page-link' onclick='searchText(event);' page='"+j+"'  >"+j+"</a></li>");
        }

        

      }



      $.ajax({
        method: 'POST',
        url: {{ url_for('store.descriptionsIndex')|tojson }},
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify({"textoABuscar":texto,"padministration":padministrationSel,"domain":domainSel,"page":page})
      }).done(addShow);
        
    }
  }



  function createNew(event) {  
    if(event.type=='click'){

      window.location = '/annotateIt';

    }
  }
  
</script>

<hr />

<div
  class="container"
  style="
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    max-width: 80vh;
  "
>
  <div class="row">
  <div class="col-8" >
    <form class="d-flex">
      <input
        id="searchBox"
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        onkeydown="searchText(event)"
      />
      <button class="btn btn-outline-secondary"  onclick="searchText(event)" >Search</button>
      <button
        class="btn btn-outline-dark"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#advanseSearchTools"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        +
      </button>
    </form>
  </div>
  <div class="col">
    <button
        class="btn btn-outline-dark"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#advanseSearchTools"
        aria-expanded="false"
        aria-controls="collapseExample"
        onclick="createNew(event)" 
      >
        Create New
      </button>
  </div>
    
  </div>
</div>

<div class="collapse" id="advanseSearchTools">
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-6" style="display: flex; align-content: center; justify-content: center">


      <select class="form-control" id="padministration">
        <option selected>Public Administration</option>
        {% for itemPA in publicsa %} 

        <option >{{ itemPA }}</option>
  
        {% endfor %}
        
      </select>

       
      </div>
      <div class="col-6" style="display: flex; align-content: center; justify-content: center">
        <select class="form-control cl-3" id="domain">
          <option selected>Domain</option>

          
          {% for itemUrl in urls %} 

          <option >{{ itemUrl }}</option>
    
          {% endfor %}
        </select>
     </div>

    </div>
  </div>
</div>

<hr />
<div class="container">
  <div class="row">
    <div
      class="col"
      style="align-content: center; justify-content: center; display: flex"
    >
      <h4>The most recent public service descriptions discussed</h4>
    </div>
  </div>
  <hr />

 <div id="result">
 
 </div>

  <div class="row">
    <div class="table-responsive">

    <h6 id="searchStats">Total found : <span id='totalRegisters'>{{paginacion.totalRegisters}}</span>, (<span id='page'>{{paginacion.page}}</span> of <span id='pagesNumbers'>{{paginacion.pagesNumbers}}</span> Pages).</h6>
    <table class="table" style="height: auto">
      <thead>
        <tr>
      
          <th scope="col-3">Public Service Administration</th>
          <th scope="col-3">Title</th>
          <th scope="col-3">Creation Date</th>
          <th scope="col-2">Options</th>
        </tr>
      </thead>
      <tbody id="tablaDescriptions" >
       
        {% for description in descriptions %} 
  
            <tr>
    
              <td>{{ description.padministration }}</td>
              <td>{{ description.title }}</td>
              <td>{{ description.created|datetimeformat('DD-MM-YYYY HH:mm')}}</td>
              <td>


                <i class="bi bi-box-arrow-in-right " style="width:100px;"></i>

                
              </td>
            </tr>

        {% endfor %}
      </tbody>
    </table>

  </div>

    <div
      class="container"
      style="align-content: center; justify-content: center; display: flex"
    >
      <div class="row">
        <div class="col">
          <nav aria-label="...">
            <ul class="pagination" id="paginador">


            {% for i in range(paginacion.pagesNumbers|int) %}
              <li class="page-item"><a class="page-link" href='?page={{ i+1 }}'>{{i+1}}</a></li>
            {% endfor %}



            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />




{% endblock %}