{% extends "template.html" %} {% block title %} Servicepedia {% endblock %} {% block
    content %}
    
    <div id="navbarColor02">
      <form
        class="form-inline my-2 my-lg-0"
        action="/website/buscar"
        method="POST"
      >
    
  


      <div class="grid-container" >
        <div class="item1"><input
          type="text"
          name="nm"
          id="sitio"
          style="width: 100%;margin:10px 10px 10px 0px;"
          class="form-control mr-sm-4"
          placeholder="Enter the public service Website address."
        /></div>
        <div class="item2"><input
          type="text"
          name="usr"
          id="userId"
          value= "{{ user.email }}"

          style="width: 200px;margin:0px 10px 10px 0px;"
          class="form-control mr-sm-4"
          placeholder="User."
          readonly
          
        /></div>
        <div class="item2"><button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Annotate
        </button></div>
      </div>
    
    
      </form>
    </div>
    
    <div>


      <h2>Questions</h2>
      <dl>




          {% for grupo_uri, itemsAnnotations in anotations| groupby("uri") %}
          
          <dt><h4>{{ grupo_uri}} <a href= {{ 'http://127.0.0.1:5000/website/modifica/'+ user.email +'/'+ grupo_uri }}>link</a> </h4></dt>

          {% for annotation in itemsAnnotations |sort( attribute="uri")  %}
            {% if annotation.category == 'question' %}
            
            <dt>* Quote: " {{ annotation.quote }} "</dt>
            <dt>* Question: {{ annotation.text|safe }} </dt>

              {% for annotationRep in anotations |sort(  attribute="data_creacio")|selectattr("uri", "equalto", annotation.uri) %}
                {% if annotationRep.category == 'reply' and annotationRep.idAnotationReply== 'annotation-'+annotation.id %}
                <dd> - {{ annotationRep.category }} : {{annotationRep.created}} {{ annotationRep.text|safe }}   </dd>
                {% endif %}
              {% endfor %}  

            {% endif %}
          {% endfor %}

          {% endfor %} 

      </dl>

      <h2>FeedBack</h2>
      <ul>
        {% for annotation in anotations %}
          {% if annotation.category == 'feedback' %}
          <li>{{ annotation }}</li>
          {% endif %}
        {% endfor %}
      </ul>

      <h2>Term</h2>
      <ul>
        {% for annotation in anotations %}
          {% if annotation.category == 'term' %}
          <li>{{ annotation }}</li>
          {% endif %}
        {% endfor %}
      </ul>
      
      <h2>Problems</h2>
      <ul>
        {% for annotation in anotations %}
          {% if annotation.category == 'problem' %}
          <li>{{ annotation }}</li>
          {% endif %}
        {% endfor %}
      </ul>

    </div>



    <h1 align="center"></h1>
    
    <style>
      .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
        table-layout: auto;
    
        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;
    
        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
    
      .content-table thead tr {
        background-color: #cccccc;
        color: rgb(0, 0, 0);
        text-align: left;
        font-weight: bold;
      }
    
      .content-table th,
      .content-table td {
        padding: 12px 15px;
      }
    
      .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
      }
    
      .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
      }
    
      .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #cccccc;
      }
    
      .content-table tbody tr.active-row {
        font-weight: bold;
        color: #cccccc;
      }
    </style>
    
    {% endblock %}
    