{% extends "templateV2.html" %} {% block title %} Servicepedia {% endblock %} {%
block content %}




<hr />

<div  style="display: block">
  <div class="row">
  <div class="col-8"  style="text-align: center;margin-top: 4px;display: inline-flex;">
    <a  href="/website/modifica/{{ current_user.email }}/{{ description['url']}}"   class="bi bi-eye" style="zoom: 2;-moz-transform: scale(2);padding: 0rem;margin-right: 0.2em;color: rgb(0, 72, 100);" data-bs-toggle="tooltip" data-bs-placement="right" title="Preview"  ></a>

    <h4 style="color: rgb(0, 110, 153);">{{description['title']|striptags}}</h4>

  </div>
  <div class="col-4" >

 
    <div class="hstack gap-0" >

      {% if categoryLabel != 'feedback'%}
        <a class="bg-light border ms-auto" style="border-radius: 5px 0px 0px 5px;" href="/description/{{description.id}}?category=feedback" >Feedback</a>
      {% else %}
        <a class="btn-secondary ms-auto active"  style="border-radius: 5px 0px 0px 5px;" href="/description/{{description.id}}?category=feedback" >Feedback</a>
      {% endif %}
      

      {% if categoryLabel != 'term'%}
        <a class="bg-light border " href="/description/{{description.id}}?category=term" >Term</a>
      {% else %}
        <a class="btn-secondary active " href="/description/{{description.id}}?category=term" >Term</a>
      {% endif %}


      {% if categoryLabel != 'question'%}
        <a class="bg-light border " href="/description/{{description.id}}?category=question" >Question</a>
      {% else %}
        <a class="btn-secondary active " href="/description/{{description.id}}?category=question" >Question</a>
      {% endif %}
      
      
      <div class="vr" style="padding-right: 3px;"></div>


      {% if categoryLabel != 'all'%}
        <a class="bg-light border "  style="border-radius: 0px 5px 5px 0px;" href="/description/{{description.id}}?category=all" >All</a>
      {% else %}
        <a class="btn-secondary active "  style="border-radius: 0px 5px 5px 0px;" href="/description/{{description.id}}?category=all" >All</a>
      {% endif %}

     

    </div>
 
  </div>
</div>
  
</div>

<hr />
{% block annotations %}
<table class="table">
  <thead>
    <tr>
 
      <th scope="col-2">Category</th>
      <th scope="col-2" style="text-align: center;">Nro Replies</th>
      <th scope="col-4">Description</th>
      <th scope="col-2" style="text-align: center;">Update Date</th>
      <th scope="col-2" style="text-align: center;">Option</th>
      
    </tr>
  </thead>
  <tbody>
    {% for anotation in anotations %} {% if anotation.category != 'reply' %}
    
          
        {% if anotation.state == 1 %}
          <tr style="color: rgba(141, 140, 140, 0.774);" >
          <td>
          <button class='btn btn-light' 
          onclick="window.location.href='/subjectPage/{{ description.id }}/{{ anotation.id }}';"
          style="height: 30px;min-width:100px;"
          alt="{{ anotation.state|estadosAnnotation}}"
          title="{{ anotation.state|estadosAnnotation}}"
          >
          <i class="bi bi-x-lg" style="position: relative;top: -5px;"></i>

        {% elif anotation.state == 2  %}
        <tr style="color: rgba(0, 0, 0, 0.774);font-weight: bold;">
          <td>
          {% if anotation.category == 'feedback' %}
          
          <button class='btn btn-outline-success' 
          onclick="window.location.href='/subjectPage/{{ description.id }}/{{ anotation.id }}';"
          style="height: 30px;min-width:100px;border: none;font-weight: bold;"
          alt="{{ anotation.state|estadosAnnotation}}"
          title="{{ anotation.state|estadosAnnotation}}">
          <i class="bi bi-check-lg" style="position: relative;top: -5px;"></i>

          {% elif anotation.category == 'question' %}
          

          <button class='btn btn-outline-warning' 
          onclick="window.location.href='/subjectPage/{{ description.id }}/{{ anotation.id }}';"
          style="height: 30px;min-width:100px;border: none;font-weight: bold;"
          alt="{{ anotation.state|estadosAnnotation}}"
          title="{{ anotation.state|estadosAnnotation}}">
          <i class="bi bi-check-lg" style="position: relative;top: -5px;"></i>

          {% elif anotation.category == 'term' %}
          
          <button class='btn btn-outline-danger' 
          onclick="window.location.href='/subjectPage/{{ description.id }}/{{ anotation.id }}';"
          style="height: 30px;min-width:100px;border: none;font-weight: bold;"
          alt="{{ anotation.state|estadosAnnotation}}"
          title="{{ anotation.state|estadosAnnotation}}">
          <i class="bi bi-check-lg" style="position: relative;top: -5px;"></i>

          {% endif %}

         

        {% else %}
        
          {% if anotation.category == 'feedback' %}
          <tr style="background-color: #d0ffdc;" >
            <td>
            <button class='btn annotation-cat-feedback' 
            
            onclick="window.location.href='/subjectPage/{{ description.id }}/{{ anotation.id }}';"
         
           style="height: 30px;min-width:100px;"
           alt="{{ anotation.state|estadosAnnotation}}"
          title="{{ anotation.state|estadosAnnotation}}">

          {% endif %}
          {% if anotation.category == 'question' %}
          <tr style="background-color: #f6ffa8;" >
            <td>
            <button class='btn annotation-cat-question' 
            onclick="window.location.href='/subjectPage/{{ description.id }}/{{ anotation.id }}';"
             style="height: 30px;min-width:100px;"
             alt="{{ anotation.state|estadosAnnotation}}"
          title="{{ anotation.state|estadosAnnotation}}">

          {% endif %}
          {% if anotation.category == 'term' %}
          <tr style="background-color: #ffa7fb;" >
            <td>

            <button class='btn annotation-cat-term' 
            onclick="window.location.href='/subjectPage/{{ description.id }}/{{ anotation.id }}';"
            
            style="height: 30px;min-width:100px;"
            alt="{{ anotation.state|estadosAnnotation}}"
          title="{{ anotation.state|estadosAnnotation}}">
              
          {% endif %}

        {% endif%}    
        

         <span style="position: relative;top: -5px;">
          {{ anotation.category[0]|upper }}{{ anotation.category[1:] }}
         </span>     
         
        </button>

      </td>
   
       <!-- 
      <td style="text-align: center;">{{ anotation.id}} </td>
      <td style="text-align: center;"> </td>
      -->
      <td style="text-align: center;"> 
      
        <a
               
                class="btn btn-outline-dark position-relative"
               
              >
              {{ anotation.nroReplies }}
        
      </a>
        
      
      </td>
      <td>{{ anotation.text|striptags}} </td>
      <td style="text-align: center;">{{ anotation.updated|datetimeformat('DD-MM-YYYY HH:mm')}}</td>
      <td>
        <a href="/subjectPage/{{ description.id }}/{{ anotation.id }}" class="btn btn-outline-secondary" style="max-width: 70px;"><i class="bi bi-box-arrow-in-right " style="width:100px;"></i></a>

      </td>
      
      
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
{% endblock %}

<script>
  var tooltipTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="tooltip"]')
  );
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });
</script>

{% endblock %}
