{% extends "template.html" %} {% block content %}
<h2>Interlinker Service Augmenter</h2>

<div>
  <p>
    The Baseline Servicepedia INTERLINKER is a component that optimizes the
    collaborative process of creating descriptions of public services and
    processes with the contribution of different stakeholders, representing
    different information goals and needs. It can be specifically designed to
    enforce the use of common models for service descriptions and standard
    classifications.
  </p>
  <h3>Description Augmenter.</h3>
  <p>
    Enable to annotate already published public services
    descriptions.
  </p>
</div>

{% if current_user.is_authenticated %}
<div>
  <p>
    Visit the
    <a href="{{ url_for('authInterlink.profile') }}">My Profile</a> page in this
    application to view the profile information.
  </p>
  <p>
    Visit the
    <a href="{{ url_for('authInterlink.dashboard') }}">My Annotations</a> page
    to annotate any website page.
  </p>
</div>
{% else %}

<form method="get" action="/login">
  <button id="login-button" class="btn-nav js-scroll-trigger" type="submit">Access</button>
  
</form>
{% endif %} {% endblock content %}
