{% extends "template.html" %} {% block content %}



<div class="container" style="margin:0;height:100vh;display:flex;align-items:center;flex-direction:column;justify-items:center;font-size:18px;" >


<div style="text-align:center;" >
  <img src="{{url_for('static', filename='logo_servicepedia.png')}}" width="500" height="auto"  >
</div>




<div class="container" style="text-align:justify;align-items:center;width: auto; max-width: 800px; margin: 3rem;padding: rem; box-shadow: 0 0 40px rgba(0,0,0,0.2);border-radius: 4px;background: #ffff;" >


<h2 style="text-align: center;">Interlinker Service Augmenter</h2>

<div>
  <p>
    The Baseline Servicepedia INTERLINKER is a component that optimizes the
    collaborative process of creating descriptions of public services and
    processes with the contribution of different stakeholders, representing
    different information goals and needs. It can be specifically designed to
    enforce the use of common models for service descriptions and standard
    classifications.
  </p>
</div>

{% if current_user.is_authenticated %}
<div>
  <p>
    Visit the
    <a href="{{ url_for('authInterlink.profile') }}">My Profile</a> page in this
    application to view the profile information.
  </p>
  <p>
    Visit the
    <a href="{{ url_for('authInterlink.annotateIt') }}">Create</a> page to create new public service description.
  </p>
  <p>
    Visit the
    <a href="{{ url_for('authInterlink.dashboard') }}">My Annotations</a> page
    to annotate any website page.
  </p>
</div>
{% else %}

<form method="get" action="/login" style="text-align: center;" >

  <button type="submit" class="btn btn-primary btn-lg"  >Login</button>
  
</form>
{% endif %} {% endblock content %}

</div>

</div>

