{% extends "templateV2.html" %} {% block content %}
<div>
  <h2>{{ _('My Settings')}}</h2>
  <p>{{ _('Your preferences.')}}</p>
</div>

<hr />

<form action="/settings.html?lang=es">
  <div class="mb-3">
    <label for="inputLanguage" class="form-label">Language</label>

    <select
      id="inputLanguage"
      class="form-select form-select-sm"
      aria-label=".form-select-sm example"
      aria-describedby="languageHelp"
    >
      <option selected>-</option>
      <option value="en">English</option>
      <option value="es">Spanish</option>
      <option value="lv">Latvian</option>
    </select>

    <div id="emailHelp" class="form-text">
      This is your current selected language.
    </div>
  </div>

  <hr />
  <!--
  {% for item in results %}
  <h1>{{ item }}</h1>
  {% endfor%}
  <h1>Computer: {{ _('Computer')}}</h1>
  <h1>Anthony: {{ anthony }}</h1>
   -->
  <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock content %}
