/* unvisited link */
  a:link {
    color: rgb(151, 151, 151);
    display: block;
    padding: 0.5rem  1rem;
    color: #000000;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  }
  
  /* visited link */
  a:visited {
    color: rgb(151, 151, 151);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(61, 61, 61);
  }
  
  /* selected link */
  a:active {
    color: rgb(66, 66, 66);
  }