{% extends "templateV2.html" %} {% block content %}

<hr />

<div class="container">
  <div class="row">
    <div
      class="col-4"
      style="display: flex; align-items: center; justify-content: center"
    >
      <img
        src="{{url_for('static', filename='logo_servicepedia_S.png')}}"
        style="max-width: 100%"
      />
    </div>

    <div
      class="col-8"
      style="display: flex; align-items: center; justify-content: center"
    >
      <p>
        The Servicepedia INTERLINKER is a component that optimizes the
        collaborative process of creating descriptions of public services and
        processes with the contribution of different stakeholders, representing
        different information goals and needs. It can be specifically designed
        to enforce the use of common models for service descriptions and
        standard classifications.
      </p>
    </div>
  </div>
</div>

<hr />

{% endblock content %}