{% extends "templateV2.html" %} {% block title %} Servicepedia {% endblock %} {%
block head %} {{ super() }}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='styles/accordion.css') }}"
/>
{% endblock %} {% block content %}

<script>

  //Falta cargar de nuevo cuando se tenga una consulta en memoria


  function searchText(event) {
    if(event.type=='click'){
      event.preventDefault();

      textoBox = document.getElementById("searchBox");
      texto=textoBox.value

      padministration = document.getElementById("padministration");
      padministrationSel=padministration.selectedOptions[0].label;

      if(padministration.selectedOptions[0].index==0){
        padministrationSel="";
      }

      domain = document.getElementById("domain");
      domainSel=domain.selectedOptions[0].label;

      let page = event.target.getAttribute('page');
      if(page==null){
        page=1;
      }



      if(domain.selectedOptions[0].index==0){
        domainSel="";
      }

      //window.location = '/?searchText=' + texto+'&padministration=' + padministrationSel+'&domain=' + domainSel;
      //recargarTabla();

      function addShow(data) {

        entries=Object.entries(data)
        descripcionesList=entries['0'][1]
        numeroReg=entries[1][1]

        $('#tablaDescriptions').empty();

        for (let dataItem of descripcionesList) {

          function ISODateString(d) {
            function pad(n) {return n<10 ? '0'+n : n}
            return pad(d.getUTCDate())+'-'
            + pad(d.getUTCMonth()+1)+'-'
            + d.getUTCFullYear()+' '
                 + pad(d.getUTCHours()+1)+':'
                 + pad(d.getUTCMinutes())
          }


          dateUpdated = new Date(dataItem.updated);


          $('#tablaDescriptions').append(' <tr> <td> '+dataItem.padministration+' </td> <td> '+dataItem.title+' </td>  <td> '+ISODateString(dateUpdated)+' </td> <td> {% if current_user.is_authenticated %} <a href="/description/'+dataItem.id+'" class="btn btn-outline-secondary" style="max-width: 70px;" ><i class="bi bi-box-arrow-in-right " style="width:100px;"></i></a> {% else %} <a href="/modifica/'+dataItem.url+'"  class="btn btn-outline-secondary" style="max-width: 70px;" ><i class="bi bi-box-arrow-in-right " style="width:100px;"></i></a> {% endif %} </td></tr>')

          //$('#tablaDescriptions').append(' <tr> <td> '+dataItem.padministration+' </td> <td> '+dataItem.title+' </td>  <td>  '+dataItem.created+' </td> <td> <a href="/description/'+dataItem.id+'" class="btn btn-outline-secondary" style="max-width: 70px;" ><i class="bi bi-box-arrow-in-right " style="width:100px;"></i></a> </td></tr>')

        }

        $('#totalRegisters').text(numeroReg);

        $('#page').text('1');

        numeroPaginas=Math.ceil(numeroReg/10);
        $('#pagesNumbers').text(numeroPaginas);





        textoBox = document.getElementById("searchBox");
        texto=textoBox.value

        padministration = document.getElementById("padministration");
        padministrationSel=padministration.selectedOptions[0].label;

        if(padministration.selectedOptions[0].index==0){
          padministrationSel="";
        }

        domain = document.getElementById("domain");
        domainSel=domain.selectedOptions[0].label;


        if(domain.selectedOptions[0].index==0){
          domainSel="";
        }


        $('#paginador').empty();
        for (var j = 1; j < numeroPaginas+1; j++) {
          //$('#paginador').append(" <li class='page-item'><a class='page-link' href='?page="+j+"&textoABuscar="+texto+"&padministration="+padministrationSel+"&domain="+domainSel+"'>"+j+"</a></li>");
          $('#paginador').append(" <li class='page-item'><a class='page-link' onclick='searchText(event);' page='"+j+"'  >"+j+"</a></li>");
        }



      }



      $.ajax({
        method: 'POST',
        url: {{ url_for('store.descriptionsIndex')|tojson }},
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify({"textoABuscar":texto,"padministration":padministrationSel,"domain":domainSel,"page":page})
      }).done(addShow);

    }
  }



  function createNew(event) {
    if(event.type=='click'){

      window.location = '/descriptionDetail';

    }
  }
</script>

<hr />

<div
  class="container"
  style="
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    max-width: 80vh;
  "
>
  <div class="row">
    <div class="col-8">
      <form class="d-flex">
        <input
          id="searchBox"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          onkeydown="searchText(event)"
        />
        <button class="btn btn-outline-secondary" onclick="searchText(event)">
          Search
        </button>
        <button
          class="btn btn-outline-dark"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#advanseSearchTools"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          +
        </button>
      </form>
    </div>
    <div class="col">
      <button
        class="btn btn-outline-dark"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#advanseSearchTools"
        aria-expanded="false"
        aria-controls="collapseExample"
        onclick="createNew(event)"
      >
        Create New
      </button>
    </div>
  </div>
</div>

<div class="collapse" id="advanseSearchTools">
  <hr />
  <div class="container">
    <div class="row">
      <div
        class="col-6"
        style="display: flex; align-content: center; justify-content: center"
      >
        <select class="form-control" id="padministration">
          <option selected>Public Administration</option>
          {% for itemPA in publicsa %}

          <option>{{ itemPA }}</option>

          {% endfor %}
        </select>
      </div>
      <div
        class="col-6"
        style="display: flex; align-content: center; justify-content: center"
      >
        <select class="form-control cl-3" id="domain">
          <option selected>Domain</option>

          {% for itemUrl in urls %}

          <option>{{ itemUrl }}</option>

          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>

<hr />
<div class="container">
  <div class="row">
    <div
      class="col"
      style="
        align-content: center;
        justify-content: center;
        display: flex;
        align-items: center;
      "
    >
      <img
        src="{{url_for('static', filename='activityDesc.png')}}"
        style="width: 60px"
        alt="Activities"
      />
      <h4 style="padding-left: 20px">Your recent activity</h4>
    </div>
  </div>
  <hr />

  <div id="result"></div>

  <div class="row">
    <div class="table-responsive">
      <table class="table" style="height: auto">
        <thead>
          <tr>
            <th scope="col-2">Administration</th>
            <th scope="col-3">Title</th>
            <th scope="col-2" style="text-align: center;">Progress</th>
            <th scope="col-2"  style="text-align: center;">Updated Date</th>
            <th scope="col-1"  style="text-align: center;max-width: 5px;">Setting</th>
            <th scope="col-1"  style="text-align: center;">Access</th>
          </tr>
        </thead>
        <tbody id="tablaDescriptions">
          {% for description in descriptions %}

          <tr>
            <td>{{ description.padministration }}</td>
            <td>{{ description.title }}</td>
            <td  style="text-align: center;">

              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: {{ description.progressTotal }}%;" aria-valuenow={{ description.progressTotal }} aria-valuemin="0" aria-valuemax="100" ></div>
                
              </div>
              <a tabindex="0"  role="button"  data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-html=true data-bs-content="{{ description.textoStats }}">{{ description.progressTotal }}%</a>
                
              
            </td>
            <td  style="text-align: center;">{{ description.updated|datetimeformat('DD-MM-YYYY HH:mm')}}</td>

            <td  >
              <a  href="/description/{{ description.id }}/edit" class="btn btn-outline-secondary bi-tools"  ></a>
            </td>


            <td  style="text-align: center;">
              <div class="btn-group" role="group" aria-label="Basic example">
                
              
              
              {% set classeCatelbl="bg-secondary" %}
              {% set classeCateBtn="btn-outline-secondary" %}
              {% if description.progressQues!=100.0 and description.nroQuest!=0 %}
              {% set classeCatelbl="bg-danger" %}
              {% set classeCateBtn="btn-warning" %}
              {% endif %}

              
              
              <button
                type="button"
                class="btn {{ classeCateBtn }} position-relative"
                alt="Question"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Question"
                onclick="window.location.href='/description/{{ description.id }}?category=question';"
              >
                {{description.nroQuest}}
  
                <span
                  class="
                    position-absolute
                    top-0
                    start-60
                    translate-middle
                    badge
                    rounded-pill
                    {{ classeCatelbl }}
                  "
                  style="opacity: 0.8"
                >
                Q
                  <span class="visually-hidden">unread messages</span>
                </span>
              </button>

              {% set classeCatelbl="bg-secondary" %}
              {% set classeCateBtn="btn-outline-secondary" %}
              {% if description.progressFeed!=100.0  and description.nroFeeds!=0 %}
              {% set classeCatelbl="bg-success" %}
              {% set classeCateBtn="btn-success" %}
              {% endif %}

              <button
                type="button"
                class="btn {{ classeCateBtn }} position-relative"
                alt="Feedback"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Feedback"
                onclick="window.location.href='/description/{{ description.id }}?category=feedback';"
              
                >
                
                {{description.nroFeeds}}
                <span
                  class="
                    position-absolute
                    top-0
                    start-60
                    translate-middle
                    badge
                    rounded-pill
                    {{ classeCatelbl }}
                  "
                  style="opacity: 0.8"
                >
                F
                  <span class="visually-hidden">unread messages</span>
                </span>
              </button>
            

              {% set classeCatelbl="bg-secondary" %}
              {% set classeCateBtn="btn-outline-secondary" %}
              {% if description.progressTerm!=100.0 and description.nroTerms!=0 %}
              {% set classeCatelbl="bg-primary" %}
              {% set classeCateBtn="btn-info" %}
              {% endif %}

              <button
                type="button"
                class="btn {{ classeCateBtn }} position-relative"
                alt="Term"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Term"
                onclick="window.location.href='/description/{{ description.id }}?category=term';"
              
              >
              {{description.nroTerms}} 
                <span
                  class="
                    position-absolute
                    top-0
                    start-60
                    translate-middle
                    badge
                    rounded-pill
                    {{ classeCatelbl }}
                    
                  "
                  style="opacity: 0.8"
                >
                  
                  T
                  <span class="visually-hidden">unread messages</span>
                </span>
              </button>
            </div>

            <div class="btn-group me-2" role="group" aria-label="Second group">
              <button type="button" class="btn btn-primary"
                alt="All"
    
                title="All"
                onclick="window.location.href='/description/{{ description.id }}';"
              >All</button>
            </div>

            </td>

           
          </tr>

          {% endfor %}
        </tbody>
      </table>
      <h6 id="searchStats">
        Total found :
        <span id="totalRegisters">{{paginacion.totalRegisters}}</span>, (<span
          id="page"
          >{{paginacion.page}}</span
        >
        of <span id="pagesNumbers">{{paginacion.pagesNumbers}}</span> Pages).
      </h6>
    </div>

    <div
      class="container"
      style="align-content: center; justify-content: center; display: flex"
    >
      <div class="row">
        <div class="col">
          <nav aria-label="...">
            <ul class="pagination" id="paginador">
              {% for i in range(paginacion.pagesNumbers|int) %}
              <li class="page-item">
                <a class="page-link" href="?page={{ i+1 }}">{{i+1}}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />

<script>
  var tooltipTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="tooltip"]')
  );
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });


  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
  });
</script>

{% endblock %}
