{% extends "templateV2.html" %} {% block title %} Servicepedia {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/accordion.css') }}">
{% endblock %}

{% block content %}











{% set contadorPublicDescriptors = 1 %}
{% for grupo_uri, itemsAnnotations in anotations| groupby("uri") %}
{% set contadorPublicDescriptors = contadorPublicDescriptors+1 %}
<p>

<div>

  <div style="inline-size: 100%;text-align: justify; text-overflow: clip; " >
    <p >{{ grupo_uri}} <a href={{ 'http://127.0.0.1:5000/modifica/'+ grupo_uri }}>link</a> </p>

  </div>
  

  {% macro muestaReplies(annotation,separador) -%}
  {% set separador = '. '+separador + '_' %}
  {% for annotationRep in anotations |sort( attribute="data_creacio") %}

  {% if annotationRep.category == 'reply' and annotationRep.idAnotationReply== 'annotation-'+annotation.id %}

  <dd>{{separador}} At {{ annotationRep.created|datetimeformat() }} : {{ annotationRep.text|striptags }}</dd>

  {{ muestaReplies(annotationRep,separador)}}

  {% endif %}
  {% endfor %}

  {%- endmacro -%}


  <div class="accordion">
    <div>
      <input type="radio" name="example_accordion" id="{{ 'section1'+ loop.index|string }}" class="accordion__input">
      <label for="{{ 'section1'+ loop.index|string }}" class="accordion__label">Terms</label>
      <div class="accordion__content">
        <p>Terms</p>
        <p>
          <ul>
            {% for annotation in itemsAnnotations %}
            {% if annotation.category == 'term' %}
            <dt>* Quote: " {{ annotation.quote }} "</dt>
            <dt>* Term: {{ annotation.text|striptags }} </dt>

            {% for annotationRep in anotations |sort( attribute="data_creacio")|selectattr("uri", "equalto",
            annotation.uri) %}
            {% if annotationRep.category == 'reply' and annotationRep.idAnotationReply== 'annotation-'+annotation.id %}
            <dd>- At
              {{ annotationRep.created|datetimeformat() }}
              : {{ annotationRep.text|striptags }} </dd>
            {% set separador = '|_' %}
            {{ muestaReplies(annotationRep,separador)}}
            {% endif %}
            {% endfor %}

            {% endif %}
            {% endfor %}
          </ul>
        </p>
      </div>
    </div>
    <div>
      <input type="radio" name="example_accordion" id="{{ 'section2'+ loop.index|string }}" class="accordion__input">
      <label for="{{ 'section2'+ loop.index|string }}" class="accordion__label">Questions</label>
      <div class="accordion__content">
        <p>Questions</p>
        <p>
          <h1>Questions</h1>
          {% for annotation in itemsAnnotations |sort( attribute="uri") %}
          {% if annotation.category == 'question' %}

          <dt>* Quote: " {{ annotation.quote }} "</dt>
          <dt>* Question: {{ annotation.text|striptags }} </dt>

          {% for annotationRep in anotations |sort( attribute="data_creacio")|selectattr("uri", "equalto",
          annotation.uri) %}
          {% if annotationRep.category == 'reply' and annotationRep.idAnotationReply== 'annotation-'+annotation.id %}
          <dd> - At
            {{ annotationRep.created|datetimeformat() }}
            : {{ annotationRep.text|striptags }} </dd>
          {% set separador = '|_' %}
          {{ muestaReplies(annotationRep,separador)}}
          {% endif %}
          {% endfor %}

          {% endif %}


          {% endfor %}
        </p>
      </div>
    </div>
    <div>
      <input type="radio" name="example_accordion" id="{{ 'section3'+ loop.index|string }}" class="accordion__input">
      <label for="{{ 'section3'+ loop.index|string }}" class="accordion__label">Problems</label>
      <div class="accordion__content">
        <p>Problems</p>
        <p>
          <ul>
            {% for annotation in itemsAnnotations %}
            {% if annotation.category == 'problem' %}
            <dt>* Quote: " {{ annotation.quote }} "</dt>
            <dt>* Problem: {{ annotation.text|striptags }} </dt>

            {% for annotationRep in anotations |sort( attribute="data_creacio")|selectattr("uri", "equalto",
            annotation.uri) %}
            {% if annotationRep.category == 'reply' and annotationRep.idAnotationReply== 'annotation-'+annotation.id %}
            <dd>- At
              {{ annotationRep.created|datetimeformat() }}
              : {{ annotationRep.text|striptags }} </dd>
            {% set separador = '|_' %}
            {{ muestaReplies(annotationRep,separador)}}
            {% endif %}
            {% endfor %}

            {% endif %}
            {% endfor %}
          </ul>
        </p>
      </div>
    </div>
    <div>
      <input type="radio" name="example_accordion" id="{{ 'section4'+ loop.index|string }}" class="accordion__input">
      <label for="{{ 'section4'+ loop.index|string }}"" class="accordion__label">Feedback</label>
      <div class="accordion__content">
        <p>Feedback</p>
        <p>
          <ul>
            {% for annotation in itemsAnnotations %}
            {% if annotation.category == 'feedback' %}
            <dt>* Quote: " {{ annotation.quote }} "</dt>
            <dt>* Question: {{ annotation.text|striptags }} </dt>

            {% for annotationRep in anotations |sort( attribute="data_creacio")|selectattr("uri", "equalto",
            annotation.uri) %}
            {% if annotationRep.category == 'reply' and annotationRep.idAnotationReply== 'annotation-'+annotation.id %}
            <dd> - At
              {{ annotationRep.created|datetimeformat() }}
              : {{ annotationRep.text|striptags }} </dd>
            {% set separador = '|_' %}
            {{ muestaReplies(annotationRep,separador)}}
            {% endif %}
            {% endfor %}

            {% endif %}
            {% endfor %}
          </ul>
        </p>
      </div>
    </div>
  </div>


 


</div>
</p>

{% endfor %}



{% endblock %}