{% extends "templateV2.html" %} {% block title %} Servicepedia {% endblock %} {%
block content %}

<script>

  function selectCategory(event) {
    if (event.type == 'click') {
      event.preventDefault();
      category = event.target.name.substring(2);
      window.location.href = '{{ url_for('authInterlink.description',descriptionId= description.id) }}?category='+category.toLowerCase();
    }

  }

  function goSubjectPage(event, descriptionId, annotationId) {
    if (event.type == 'click') {
      event.preventDefault();

      urlRef = `{{ url_for('authInterlink.subjectPage',descriptionId= DESCRIPTIONID,annotatorId=ANNOTATIONID) }}`;
      urlRef = urlRef.replace("ANNOTATIONID",annotationId);
      urlRef = urlRef.replace("DESCRIPTIONID",descriptionId);

      window.location.href = urlRef;
    
      subjectPage(descriptionId=None, annotatorId=None)
    
    }
  }

  function filterState(event) {
    if (event.type == 'change') {
      aplicoFiltros(event);
    }
  }

  function searchText(event) {
    if (event.type == 'click') {
     
      event.preventDefault();
      aplicoFiltros(event);
      
    }
  }

  function searchTextEnter(event) {
    if (event.type == 'keydown') {
      if (event.keyCode === 13) {
      event.preventDefault();
      aplicoFiltros(event);
      }
    }
  }


  function aplicoFiltros(event) {


    //Obtengo valores de filtros:

    let estados = { InProgress: "on", Archived: "on", Approved: "on" };

    estados['InProgress'] = document.getElementById("checkInProgress").checked;
    estados['Approved'] = document.getElementById("checkApproved").checked;
    estados['Archived'] = document.getElementById("checkArchived").checked;

    let justMyContributions=document.getElementById("checkMyContributions").checked;


    textoBox = document.getElementById("searchBox");
    texto = textoBox.value;

    descriptionSpan = document.getElementById("descriptionId");
    descriptionId = descriptionSpan.textContent;

    let category = '';
    if (document.getElementById("rbFeedback").checked) category = 'feedback';
    if (document.getElementById("rbTerm").checked) category = 'term';
    if (document.getElementById("rbQuestion").checked) category = 'question';

    category;


    //Refresco la tabla con los valores filtrados:

    let page = event.target.getAttribute('page');
    if (page == null) {
      page = 1;
    }


    function onSearchAnnotations(data) {

      descriptionSpan = document.getElementById("descriptionId");
      descriptionId = descriptionSpan.textContent;

      entries = Object.entries(data);
      annotationsList = entries['0'][1];
      numeroReg = entries[1][1];

      $('#tablaAnnotations').empty();

      let contador = 0;
      for (let dataItem of annotationsList) {
        contador = contador + 1;


        function ISODateString(d) {
          function pad(n) { return n < 10 ? '0' + n : n }
          return pad(d.getUTCDate()) + '-'
            + pad(d.getUTCMonth() + 1) + '-'
            + d.getUTCFullYear() + ' '
            + pad(d.getUTCHours() + 1) + ':'
            + pad(d.getUTCMinutes())
        }


        dateUpdated = new Date(dataItem.created);

          //Doy formato al texto:
          let shortTextItemDesc= dataItem.text.replace(/(<([^>]+)>)/gi, "");

          if( shortTextItemDesc.length>200 ){
            shortTextItemDesc=shortTextItemDesc.substring(0, 200)+'...';
          }
  


        //Defino los colores

        if (dataItem.category == 'question') {
          questColor = '246, 255, 168';
          stylebtn = 'btn-warning';
        } else if (dataItem.category == 'term') {
          questColor = '255,167,251';
          stylebtn = 'btn-danger';
        } else if (dataItem.category == 'feedback') {
          questColor = '208, 255, 220';
          stylebtn = 'btn-danger';
        }

        //Doy formato a la ruta:
        ruta = dataItem.uri.split('/');
        ruta = ruta[ruta.length - 1]

        let txtCategory='';
        if (dataItem.category == 'feedback'){
          txtCategory="{{ _('feedback')}}";
        }else if (dataItem.category == 'question'){
          txtCategory="{{ _('question')}}";
        }else if (dataItem.category == 'term'){
          txtCategory="{{ _('term')}}";
        }

        if (dataItem.state == 1) { // Archived
          botonCategory = '<button class="btn btn-light"  onclick="goSubjectPage(event,\'' + descriptionId + '\',\'' + dataItem.id + '\')";" style="height: 30px;min-width:100px;" > <span style="position: relative;top: -5px;text-decoration: line-through;text-transform: capitalize;">' + txtCategory + '</span> </button> </td>';
          sectionCategoria = ' <tr style="color: rgba(141, 140, 140, 0.774);"> <td style="font-weight:bold;"> ' + botonCategory + ' </td>';
          stateText = "{{ _('Archived') }}";
        } else if (dataItem.state == 2) { //Approved

           if (dataItem.category == 'question') {
              questColor = '255,193,7';
              stylebtn = 'btn-warning';
            } else if (dataItem.category == 'term') {
              questColor = '223,6,212';
              stylebtn = 'btn-danger';
            } else if (dataItem.category == 'feedback') {
              questColor = '25,135,84';
              stylebtn = 'btn-danger';
            }


          botonCategory = '<button class="btn ' + stylebtn + '"  onclick="goSubjectPage(event,\'' + descriptionId + '\',\'' + dataItem.id + '\')";" style="height: 30px;min-width:100px;font-weight: bold;background-color:rgba(' + questColor + ',1);border-color:rgba(' + questColor + ',0.9);" > <span style="position: relative;top: -5px;text-transform: capitalize;">' + txtCategory + '</span> </button> </td>';
          sectionCategoria = ' <tr style="font-weight: bold;"> <td style="color:#FFFFFF;"> ' + botonCategory + ' </td>';
          stateText = "{{ _('Approved') }}";
        } else if (dataItem.state == 0) { //In Progress
          botonCategory = '<button class="btn "  onclick="goSubjectPage(event,\'' + descriptionId + '\',\'' + dataItem.id + '\')";" style="height: 30px;min-width:100px;background-color:rgba(' + questColor + ',1);" > <span style="position: relative;top: -5px;text-transform: capitalize;">' + txtCategory + '</span> </button> </td>';
          sectionCategoria = ' <tr style="color: rgba(0, 0, 0, 0.774);"> <td style="font-weight:bold;"> ' + botonCategory + ' </td>';
          stateText = "{{ _('In Progress') }}";
        }

        urlRef = `{{ url_for('authInterlink.subjectPage',descriptionId= 'DESCRIPTIONID',annotatorId='ANNOTATIONID') }}`;
        urlRef = urlRef.replace("DESCRIPTIONID",descriptionId);
        urlRef = urlRef.replace("ANNOTATIONID",dataItem.id);
        
        urlRefMod = `{{ url_for('views.augment',rutaPagina='RUTAPAGE') }}?description=DESCRIPTIONID`
        urlRefMod = urlRefMod.replace("RUTAPAGE",dataItem.uri);
        urlRefMod = urlRefMod.replace("DESCRIPTIONID",descriptionId);

        $('#tablaAnnotations').append(
          ` ${sectionCategoria}
            <td>
              
               <a href="${urlRefMod}">/${ruta}</a>
        
            </td>
            <td> ${stateText} </td> 
            
            <td style="text-align: center;"> 
              <h5>
              <a class="badge bg-light text-dark position-relative" style="text-decoration: none;" > ${dataItem.nroReplies} </a>
              </h5>
            </td>
            
            <td> ${shortTextItemDesc} </td>  
            <td> ${ISODateString(dateUpdated)} </td> 
            
            <td> 
              <a href="${urlRef}" class="btn btn-outline-secondary" style="max-width: 70px;" >
                <i class="bi bi-box-arrow-in-right " style="width:100px;"></i>
              </a>  
            </td>

          </tr>`)
      }

      $('#totalRegisters').text(numeroReg);

      $('#page').text('1');

      numeroPaginas = Math.ceil(numeroReg / 10);
      $('#pagesNumbers').text(numeroPaginas);



      textoBox = document.getElementById("searchBox");
      texto = textoBox.value;



      $('#paginador').empty();
      for (var j = 1; j < numeroPaginas + 1; j++) {
        //$('#paginador').append(" <li class='page-item'><a class='page-link' href='?page="+j+"&textoABuscar="+texto+"&padministration="+padministrationSel+"&domain="+domainSel+"'>"+j+"</a></li>");
        $('#paginador').append(" <li class='page-item'><a class='page-link' onclick='aplicoFiltros(event);' page='" + j + "'  >" + j + "</a></li>");
      }



    }



    $.ajax({
      method: 'POST',
      url: {{ url_for('store.annotationsIndex')| tojson}},
  contentType: 'application/json;charset=UTF-8',
    data: JSON.stringify({ "textoABuscar": texto, "estados": estados,"justMyContributions":justMyContributions, "descriptionId": descriptionId, "page": page, "category": category })
    }).done(onSearchAnnotations);
        
    
  }



</script>


<hr />

<div style="display: block">
  <div class="row">
    <div class="col-8" style="text-align: center;margin-top: 4px;display: inline-flex;">
      
      <button type="button" id="enlaceAugment" class="btn btn-outline-secondary position-relative  bi-eye" 
      style="border-color: gainsboro;border:0px;padding: 0px 5px 0px 5px !important;zoom: 2;-moz-transform: scale(2);padding: 0rem;margin-right: 0.2em;" 
      onclick="window.location.href='{{ url_for('views.augment',rutaPagina=urlMainPage) }}?description={{description['id']}}';" >
              </button>

      <h4 style="color: rgb(0, 110, 153);">{{description['title']|striptags}}</h4>
      <span id="descriptionUri" hidden>{{description['url']}}</span>
      <span id="descriptionId" hidden>{{description['id']}}</span>

    </div>
    <div class="col-4">


      <div class="hstack gap-0">





        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          {% if categoryLabel == 'feedback'%}
          <input type="radio" class="btn-check" name="rbFeedback" id="rbFeedback" autocomplete="off"
            onclick="selectCategory(event);" checked>
          {% else %}
          <input type="radio" class="btn-check" name="rbFeedback" id="rbFeedback" autocomplete="off"
            onclick="selectCategory(event);">
          {% endif %}

          <label class="btn btn-outline-primary" for="rbFeedback">{{ _('Feedback') }}</label>

          {% if categoryLabel == 'term'%}
          <input type="radio" class="btn-check" name="rbTerm" id="rbTerm" onclick="selectCategory(event);"
            autocomplete="off" checked>
          {% else %}
          <input type="radio" class="btn-check" name="rbTerm" id="rbTerm" onclick="selectCategory(event);"
            autocomplete="off">
          {% endif %}

          <label class="btn btn-outline-primary" for="rbTerm">{{ _('Term') }}</label>
          {% if categoryLabel == 'question'%}
          <input type="radio" class="btn-check" name="rbQuestion" id="rbQuestion" onclick="selectCategory(event);"
            autocomplete="off" checked>
          {% else %}
          <input type="radio" class="btn-check" name="rbQuestion" id="rbQuestion" onclick="selectCategory(event);"
            autocomplete="off">
          {% endif %}
          <label class="btn btn-outline-primary" for="rbQuestion">{{ _('Question') }}</label>
          <div class="vr" style="padding-right: 3px;"></div>

          {% if categoryLabel == 'all'%}
          <input type="radio" class="btn-check" name="rbAll" id="rbAll" onclick="selectCategory(event);"
            autocomplete="off" checked>
          {% else %}
          <input type="radio" class="btn-check" name="rbAll" id="rbAll" onclick="selectCategory(event);"
            autocomplete="off">
          {% endif %}
          <label class="btn btn-outline-primary" for="rbAll">{{ _('All') }}</label>
        </div>

        <button type="button" title="{{ _('Report') }}" class="btn btn-outline-secondary" onclick="window.location.href='{{ url_for('authInterlink.genReport',descriptionId= description['id'] ) }}';" style="padding: -2px;margin:0px;margin-left=5px;border: 0px;margin-right: 5px;" >
         
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"></path>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"></path>
          </svg> 
          

        </button>

      </div>

    </div>
  </div>

  

</div>

<hr />

<div class="row">

  <div class="col-4" style="display: flex;flex-direction: row;">
    <input id="searchBox" class="form-control me-2" type="search" placeholder="{{ _('Search') }}" aria-label="Search"
      onkeydown="searchTextEnter(event)" style="min-width: 200px;" />
    <button class="btn btn-outline-secondary" onclick="searchText(event)">{{ _('Search') }}</button>

    

  </div>

  <div class="col-4">
    <div style="display: flex; flex-direction: row-reverse;">


      <div class="form-check" style="padding-right: 10px;">
        <input class="form-check-input" type="checkbox" id="checkMyContributions" onchange="filterState(event)" >
        <label class="form-check-label" for="checkMyContributions">{{ _('My Contributions') }}</label>
      </div>

    </div>
  </div>

  <div class="col-4">
    <div style="display: flex; flex-direction: row-reverse;">


      <div class="form-check form-switch" style="padding-right: 10px;">
        <input class="form-check-input" type="checkbox" id="checkInProgress" onchange="filterState(event)" checked>
        <label class="form-check-label" for="checkInProgress">{{ _('In Progress') }}</label>
      </div>
      <div class="form-check form-switch" style="padding-right: 10px;">
        <input class="form-check-input" type="checkbox" id="checkArchived" onchange="filterState(event)" >
        <label class="form-check-label" for="checkArchived">{{ _('Archived') }}</label>
      </div>
      <div class="form-check form-switch" style="padding-right: 10px;">
        <input class="form-check-input" type="checkbox" id="checkApproved" onchange="filterState(event)" >
        <label class="form-check-label" for="checkApproved">{{ _('Approved') }}</label>
      </div>



    </div>
  </div>


</div>
<hr />


{% block annotations %}
<table class="table">
  <thead>
    <tr>
      <th scope="col-1">{{ _('Category') }}</th>
      <th scope="col-1" style="text-align: center;">{{ _('Page') }}</th>
      <th scope="col-2" style="text-align: center;">{{ _('State') }}</th>
      <th scope="col-2" style="text-align: center;">{{ _('Nro Replies') }}</th>
      <th scope="col-2" style="min-width: 200px;">{{ _('Description') }}</th>
      <th scope="col-2" style="text-align: center;">{{ _('Update Date') }}</th>
      <th scope="col-2" style="text-align: center;">{{ _('Option') }}</th>

    </tr>
  </thead>
  <tbody id="tablaAnnotations">
    {% for anotation in anotations %} {% if anotation.category != 'reply' %}


    {% if anotation.state == 1 %}
    <tr style="color: rgba(141, 140, 140, 0.774);">
      <td>
        <button class='btn btn-light'
          onclick="window.location.href='{{ url_for('authInterlink.subjectPage',descriptionId= description.id,annotatorId=anotation.id ) }}';"
          style="height: 30px;min-width:100px;" alt="{{ anotation.state|estadosAnnotation}}"
          title="{{ anotation.state|estadosAnnotation}}">


          {% elif anotation.state == 2 %}
    <tr style="color: rgba(0, 0, 0, 0.774);font-weight: bold;">
      <td>
        {% if anotation.category == 'feedback' %}

        <button class='btn btn-success'
          onclick="window.location.href='{{ url_for('authInterlink.subjectPage',descriptionId= description.id,annotatorId=anotation.id ) }}';"
          style="height: 30px;min-width:100px;font-weight: bold;" alt="{{ anotation.state|estadosAnnotation}}"
          title="{{ anotation.state|estadosAnnotation}}">


          {% elif anotation.category == 'question' %}


          <button class='btn btn-warning'
            onclick="window.location.href='{{ url_for('authInterlink.subjectPage',descriptionId= description.id,annotatorId=anotation.id ) }}';"
            style="height: 30px;min-width:100px;font-weight: bold;" alt="{{ anotation.state|estadosAnnotation}}"
            title="{{ anotation.state|estadosAnnotation}}">


            {% elif anotation.category == 'term' %}

            <button class='btn btn-danger'
              onclick="window.location.href='{{ url_for('authInterlink.subjectPage',descriptionId= description.id,annotatorId=anotation.id ) }}';"
              style="height: 30px;min-width:100px;font-weight: bold;background-color: #df06d4;border-color: #af02a7;"
              alt="{{ anotation.state|estadosAnnotation}}" title="{{ anotation.state|estadosAnnotation}}">


              {% endif %}



              {% else %}

              {% if anotation.category == 'feedback' %}
              <!--  <tr style="background-color: #d0ffdc;" >
          -->
    <tr>
      <td>
        <button class='btn annotation-cat-feedback'
          onclick="window.location.href='{{ url_for('authInterlink.subjectPage',descriptionId= description.id,annotatorId=anotation.id ) }}';"
          style="height: 30px;min-width:100px;" alt="{{ anotation.state|estadosAnnotation}}"
          title="{{ anotation.state|estadosAnnotation}}">

          {% endif %}
          {% if anotation.category == 'question' %}
          <!--  <tr style="background-color: #f6ffa8;" >
          -->
    <tr></tr>
    <td>
      <button class='btn annotation-cat-question'
        onclick="window.location.href='{{ url_for('authInterlink.subjectPage',descriptionId= description.id,annotatorId=anotation.id ) }}';"
        style="height: 30px;min-width:100px;" alt="{{ anotation.state|estadosAnnotation}}"
        title="{{ anotation.state|estadosAnnotation}}">

        {% endif %}
        {% if anotation.category == 'term' %}
        <!--  <tr style="background-color: #ffa7fb;" >
          -->
        <tr>
          <td>

            <button class='btn annotation-cat-term'
              onclick="window.location.href='{{ url_for('authInterlink.subjectPage',descriptionId= description.id,annotatorId=anotation.id ) }}';"
              style="height: 30px;min-width:100px;" alt="{{ anotation.state|estadosAnnotation}}"
              title="{{ anotation.state|estadosAnnotation}}">

              {% endif %}

              {% endif%}

              {% if anotation.state == 1 %}
              <span style="position: relative;top: -5px;text-decoration: line-through;">
 
                  {% if anotation.category == 'feedback'  %}
                    {{ _('Feedback') }}
                  {% elif anotation.category == 'term' %}
                    {{ _('Term') }}
                  {% elif anotation.category == 'question' %}
                  {{ _('Question') }}
                  {% endif %}


              </span>
              {% else %}
              <span style="position: relative;top: -5px;">

                {% if anotation.category == 'feedback'  %}
                  {{ _('Feedback') }}
                {% elif anotation.category == 'term' %}
                  {{ _('Term') }}
                {% elif anotation.category == 'question' %}
                {{ _('Question') }}
                {% endif %}

                
              </span>
              {% endif%}

            </button>

          </td>

          <td style="text-align: left;">
            {% set uriPath = anotation.uri.split('/') %}
            
            <a href="{{ url_for('views.augment',rutaPagina='')}}{{anotation.uri}}?description={{ description.id }}">/{{ uriPath[-1:] |join('')}}</a>
          </td>

          <td style="text-align: center;">

            {{ anotation.state|estadosAnnotation}}

          </td>



          <!-- 
      <td style="text-align: center;">{{ anotation.id}} </td>
      <td style="text-align: center;"> </td>
      -->
          <td style="text-align: center;">
            <h5>
            <a class="badge bg-light text-dark position-relative" style="text-decoration: none;">
              {{ anotation.nroReplies }}

            </a>
            </h5>

          </td>

          {% set soloTexto= anotation.text|striptags%}
          {% if soloTexto|length > 200 %}
          {% set soloTexto= anotation.text|striptags%}
          {% set textoCortado= soloTexto[0:200] %}
          <td>{{ textoCortado }}... </td>
          {% else %}
          {% set soloTexto= anotation.text|striptags%}
          <td>{{ soloTexto }} </td>
          {% endif %}




          <td style="text-align: center;">{{ anotation.updated|datetimeformat('DD-MM-YYYY HH:mm')}}</td>
          <td>
            <a href="{{ url_for('authInterlink.subjectPage',descriptionId= description.id,annotatorId=anotation.id ) }}" class="btn btn-outline-secondary"
              style="margin: 0% 20% 0% 20%;min-width: 70px;"><i class="bi bi-box-arrow-in-right " style="width:100px;"></i></a>

          </td>


        </tr>
        {% endif %} {% endfor %}
  </tbody>
</table>

<h6 id="searchStats">{{ _('Total found') }} : <span id='totalRegisters'>{{paginacion.totalRegisters}}</span>, (<span
    id='page'>{{paginacion.page}}</span> {{ _('of') }} <span id='pagesNumbers'>{{paginacion.pagesNumbers}}</span> {{ _('Pages') }}).</h6>


<div class="container" style="align-content: center; justify-content: center; display: flex">
  <div class="row">
    <div class="col">
      <nav aria-label="...">
        <ul class="pagination" id="paginador">


          {% for i in range(paginacion.pagesNumbers|int) %}
          <li class="page-item"><a class="page-link" href='?page={{ i+1 }}'>{{i+1}}</a></li>
          {% endfor %}



        </ul>
      </nav>
    </div>
  </div>
</div>



{% endblock %}

<script>
  var tooltipTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="tooltip"]')
  );
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });
</script>

{% endblock %}