{% extends "template_Interlinker.html" %} {% block title %} Servicepedia {% endblock %} {% block
content %}

<script>

  function selectCategory(event) {
    if (event.type == 'click') {
      event.preventDefault();
      category = event.target.name.substring(2);
      window.location.href = '{{ url_for('views.assetAdmin',id= description.id) }}?category=' + category.toLowerCase();
    }

  }

  function goSubjectPage(event, descriptionId, annotationId) {
    if (event.type == 'click') {
      event.preventDefault();


      urlRef = `{{ url_for('views.assetSubject',descriptionId= DESCRIPTIONID,annotatorId=ANNOTATIONID) }}`;
      urlRef = urlRef.replace("ANNOTATIONID", annotationId);
      urlRef = urlRef.replace("DESCRIPTIONID", descriptionId);

      window.location.href = urlRef;

      subjectPage(descriptionId = None, annotatorId = None)

    }
  }

  function goModeratorPage(event, descriptionId){
    if (event.type == 'click') {
      event.preventDefault();


      urlRef = `{{ url_for('authInterlink.editRoles',descriptionId= 'DESCRIPTIONID') }}`;
      urlRef = urlRef.replace("DESCRIPTIONID", descriptionId);

      window.location.href = urlRef;

    }

  }

  function filterState(event) {
    if (event.type == 'change') {
      aplicoFiltros(event);
    }
  }

  function searchText(event) {
    if (event.type == 'click') {

      event.preventDefault();
      aplicoFiltros(event);

    }
  }

  function searchTextEnter(event) {
    if (event.type == 'keydown') {
      if (event.keyCode === 13) {
        event.preventDefault();
        aplicoFiltros(event);
      }
    }
  }


  function aplicoFiltros(event) {


    //Obtengo valores de filtros:

    let estados = { InProgress: "on", Archived: "on", Approved: "on" };

    estados['InProgress'] = document.getElementById("checkInProgress").checked;
    estados['Approved'] = document.getElementById("checkApproved").checked;
    estados['Archived'] = document.getElementById("checkArchived").checked;

    let justMyContributions = document.getElementById("checkMyContributions").checked;


    textoBox = document.getElementById("searchBox");
    texto = textoBox.value;

    descriptionSpan = document.getElementById("descriptionId");
    descriptionId = descriptionSpan.textContent;

    let category = '';
    if (document.getElementById("rbFeedback").checked) category = 'feedback';
    if (document.getElementById("rbTerm").checked) category = 'term';
    if (document.getElementById("rbQuestion").checked) category = 'question';

    category;


    //Refresco la tabla con los valores filtrados:

    let page = event.target.getAttribute('page');
    if (page == null) {
      page = 1;
    }


    function onSearchAnnotations(data) {

      descriptionSpan = document.getElementById("descriptionId");
      descriptionId = descriptionSpan.textContent;

      entries = Object.entries(data);
      annotationsList = entries['0'][1];
      numeroReg = entries[1][1];

      $('#tablaAnnotations').empty();

      let contador = 0;
      for (let dataItem of annotationsList) {
        contador = contador + 1;


        function ISODateString(d) {
          function pad(n) { return n < 10 ? '0' + n : n }
          return pad(d.getUTCDate()) + '-'
            + pad(d.getUTCMonth() + 1) + '-'
            + d.getUTCFullYear() + ' '
            + pad(d.getUTCHours() + 1) + ':'
            + pad(d.getUTCMinutes())
        }


        dateUpdated = new Date(dataItem.created);

        //Doy formato al texto:
        let shortTextItemDesc = dataItem.text.replace(/(<([^>]+)>)/gi, "");

        if (shortTextItemDesc.length > 200) {
          shortTextItemDesc = shortTextItemDesc.substring(0, 200) + '...';
        }


        //Defino los colores

        if (dataItem.category == 'question') {
          questColor = '246, 255, 168';
          stylebtn = 'btn-warning';
        } else if (dataItem.category == 'term') {
          questColor = '255,167,251';
          stylebtn = 'btn-danger';
        } else if (dataItem.category == 'feedback') {
          questColor = '208, 255, 220';
          stylebtn = 'btn-danger';
        }

        //Doy formato a la ruta:
        ruta = dataItem.uri.split('/');
        ruta = ruta[ruta.length - 1];

        let txtCategory = '';
        if (dataItem.category == 'feedback') {
          txtCategory = "{{ _('feedback')}}";
          //onclick="goSubjectPage(event,\'' + descriptionId + '\',\'' + dataItem.id + '\')";"
          //botonCategory = ' <button class="btn"  style = "height: 30px;" alt = "' + txtCategory + '" title = "' + txtCategory + '" ><i class="fa-solid fa-file-pen" style="color:rgb(152, 82, 140);"></i> </td>';
          botonCategory = ' <i class="fa-solid fa-file-pen" style="color:rgb(152, 82, 140);"></i> </button></td>';

        } else if (dataItem.category == 'question') {
          txtCategory = "{{ _('question')}}";
          //onclick="goSubjectPage(event,\'' + descriptionId + '\',\'' + dataItem.id + '\')";"
          //botonCategory = ' <button class="btn"  style = "height: 30px;" alt = "' + txtCategory + '" title = "' + txtCategory + '" ><i class="fa-solid fa-file-circle-question" style="color:rgb(212, 211, 122);"></i> </td>';
          botonCategory = ' <i class="fa-solid fa-file-circle-question" style="color:rgb(212, 211, 122);"></i> </button></td>';

        } else if (dataItem.category == 'term') {
          txtCategory = "{{ _('term')}}";
          //onclick="goSubjectPage(event,\'' + descriptionId + '\',\'' + dataItem.id + '\')";"
          //botonCategory = ' <button class="btn"  style = "height: 30px;" alt = "' + txtCategory + '" title = "' + txtCategory + '" ><i class="fa-solid fa-file-circle-exclamation" style="color:rgb(107, 205, 166);"></i> </td>';
          botonCategory = ' <i class="fa-solid fa-file-circle-exclamation" style="color:rgb(107, 205, 166);"></i> </button></td>';

        }
        sectionCategoria = ' <tr > <td style="vertical-align: middle;text-align: center;" > ' + botonCategory + ' </td>';

        if (dataItem.state == 1) {
          stateText = "{{ _('Archived') }}";
        } else if (dataItem.state == 2) { //Approved
          stateText = "{{ _('Approved') }}";
        } else if (dataItem.state == 0) { //In Progress
          stateText = "{{ _('In Progress') }}";
        }

        /*if (dataItem.state == 1) { // Archived
          botonCategory = '<button class="btn btn-light"  onclick="goSubjectPage(event,\'' + descriptionId + '\',\'' + dataItem.id + '\')";" style="height: 30px;min-width:100px;" > <span style="position: relative;top: -5px;text-decoration: line-through;text-transform: capitalize;">' + txtCategory + '</span> </button> </td>';
          sectionCategoria = ' <tr style="color: rgba(141, 140, 140, 0.774);"> <td style="font-weight:bold;"> ' + botonCategory + ' </td>';
          stateText = "{{ _('Archived') }}";
        } else if (dataItem.state == 2) { //Approved

           if (dataItem.category == 'question') {
              questColor = '255,193,7';
              stylebtn = 'btn-warning';
            } else if (dataItem.category == 'term') {
              questColor = '223,6,212';
              stylebtn = 'btn-danger';
            } else if (dataItem.category == 'feedback') {
              questColor = '25,135,84';
              stylebtn = 'btn-danger';
            }


          botonCategory = '<button class="btn ' + stylebtn + '"  onclick="goSubjectPage(event,\'' + descriptionId + '\',\'' + dataItem.id + '\')";" style="height: 30px;min-width:100px;font-weight: bold;background-color:rgba(' + questColor + ',1);border-color:rgba(' + questColor + ',0.9);" > <span style="position: relative;top: -5px;text-transform: capitalize;">' + txtCategory + '</span> </button> </td>';
          sectionCategoria = ' <tr style="font-weight: bold;"> <td style="color:#FFFFFF;"> ' + botonCategory + ' </td>';
          stateText = "{{ _('Approved') }}";
        } else if (dataItem.state == 0) { //In Progress
          botonCategory = '<button class="btn "  onclick="goSubjectPage(event,\'' + descriptionId + '\',\'' + dataItem.id + '\')";" style="height: 30px;min-width:100px;background-color:rgba(' + questColor + ',1);" > <span style="position: relative;top: -5px;text-transform: capitalize;">' + txtCategory + '</span> </button> </td>';
          sectionCategoria = ' <tr style="color: rgba(0, 0, 0, 0.774);"> <td style="font-weight:bold;"> ' + botonCategory + ' </td>';
          stateText = "{{ _('In Progress') }}";
        }
*/
        urlRef = `{{ url_for('views.assetSubject',descriptionId= 'DESCRIPTIONID',annotatorId='ANNOTATIONID') }}`;
        urlRef = urlRef.replace("DESCRIPTIONID", descriptionId);
        urlRef = urlRef.replace("ANNOTATIONID", dataItem.id);

        urlRefMod = `{{ url_for('views.augment',rutaPagina='RUTAPAGE') }}?description=DESCRIPTIONID&annotationId=ANNOTATIONID&integrationInterlinker=True`
        urlRefMod = urlRefMod.replace("RUTAPAGE", dataItem.uri);
        urlRefMod = urlRefMod.replace("DESCRIPTIONID", descriptionId);
        urlRefMod = urlRefMod.replace("ANNOTATIONID", dataItem.id);

        optionsSelectAn = '';
        if (dataItem.state == 1) {
          optionsSelectAn = `<option value="0">{{ _('In Progress') }}</option>
                             <option value="2">{{ _('Approved') }}</option>
                             <option value="1"  selected> {{ _('Archived') }}</option>`;
        } else if (dataItem.state == 2) {
          optionsSelectAn = `<option value="0" >{{ _('In Progress') }}</option>
                             <option value="2" selected>{{ _('Approved') }}</option>
                             <option value="1"> {{ _('Archived') }}</option>`;
        } else if (dataItem.state == 0) {
          optionsSelectAn = `<option value="0" selected>{{ _('In Progress') }}</option>
                             <option value="2">{{ _('Approved') }}</option>
                             <option value="1">  {{ _('Archived') }}</option>`;
        }

        selectionStateAn = ` 
        <select id='sel-${dataItem.id}' onchange="getval(this);" annotationId="${dataItem.id}"  class="form-select" style="min-width:120px ;max-width: 170px;" aria-label="Default select example">
          ${optionsSelectAn}
        </select >`;

        $('#tablaAnnotations').append(
          ` ${sectionCategoria}
    
            <td> ${shortTextItemDesc} <br> <span style="opacity: 0.5;">${ISODateString(dateUpdated)} </span> </td>
            <td> ${selectionStateAn} </td> 

             
            
            <td style="text-align: center;"> 
              <h5>
              <a class="badge bg-light text-dark position-relative" style="text-decoration: none;" > ${dataItem.nroReplies} </a>
              </h5>
            </td>
            
              
     
            
            <td> 


               <div class="dropdown  dropstart">
            <a class="btn btn-outline-secondary dropdown-toggle" style="max-width: 130;" href="#" role="button" id="dropdownMenuLink"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{_('Options')}}
            </a>

            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item"
                  href="${urlRefMod}">
                  <i class="fa-solid fa-eye"></i> | {{_('See in Page')}}</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>



              <li><a class="dropdown-item"
                  href="${urlRef}">
                  <i class="fa-solid fa-circle-chevron-down"></i> | {{_('More Details')}}</a>
              </li>

            </ul>
          </div>





              
            </td>

          </tr>`)
      }

      $('#totalRegisters').text(numeroReg);

      $('#page').text('1');

      numeroPaginas = Math.ceil(numeroReg / 10);
      $('#pagesNumbers').text(numeroPaginas);



      textoBox = document.getElementById("searchBox");
      texto = textoBox.value;



      $('#paginador').empty();
      for (var j = 1; j < numeroPaginas + 1; j++) {
        //$('#paginador').append(" <li class='page-item'><a class='page-link' href='?page="+j+"&textoABuscar="+texto+"&padministration="+padministrationSel+"&domain="+domainSel+"'>"+j+"</a></li>");
        $('#paginador').append(" <li class='page-item'><a class='page-link' onclick='aplicoFiltros(event);' page='" + j + "'  >" + j + "</a></li>");
      }



    }



    $.ajax({
      method: 'POST',
      url: {{ url_for('store.annotationsIndex')| tojson}},
  contentType: 'application/json;charset=UTF-8',
    data: JSON.stringify({ "textoABuscar": texto, "estados": estados, "justMyContributions": justMyContributions, "descriptionId": descriptionId, "page": page, "category": category })
    }).done(onSearchAnnotations);
        
    
  }


  function getval(sel) {
    let annotationId = sel.getAttribute("annotationId");
    registrarEstadoAnnotation(annotationState = sel.value, annotationId = annotationId, objtype = 'annotation_state');
  }


  function registrarEstadoAnnotation(
    annotationState = "0",
    annotationId = "",
    objtype = "annotation_state"
  ) {

    //  Muestro el panel de ingreso de razon:
    var myModal = new bootstrap.Modal(
      document.getElementById("notificationBox"),
      {}
    );
    $("#notificationBoxLabel").text("{{ _('Information') }}");
    $("#notificationBody").text("");
    $("#notificationBody").append(
      "<div class='mb-3'> <label for='commentsChangeState' class='form-label'> {{ _('Please enter comments on your decision') }}. </label>      <textarea class='form-control' id='commentsChangeState' rows='3'></textarea>    </div>"
    );

    $("#notificationBody").append(
      "<input type='hidden' name='stateToChange' id='stateToChange' value='" +
      annotationState +
      "'  style='width: 200px;margin:0px 10px 10px 0px;' class='form-control mr-sm-4' readonly/>"
    );

    $("#notificationBody").append(
      "<input type='hidden' name='annotationId' id='annotationId' value='" +
      annotationId +
      "'  style='width: 200px;margin:0px 10px 10px 0px;' class='form-control mr-sm-4' readonly/>"
    );

    $("#notificationBody").append(
      "<input type='hidden' name='objtype' id='objtype' value='" +
      objtype +
      "'  style='width: 200px;margin:0px 10px 10px 0px;' class='form-control mr-sm-4' readonly/>"
    );

    $("#notificationAcceptBtn").text("{{ _('Accept') }}");
    $("#notificationAcceptBtn").show();
    //$('#notificationAcceptBtn').hide();

    $("#createUrl").val("");
    myModal.show();

  }

  function getStateText(val) {
    res = "";
    switch (val) {
      case 0:
        res = "{{ _('In Progress') }}";
        break;
      case 1:
        res = "{{ _('Archived') }}";
        break;
      case 2:
        res = "{{ _('Approved') }}";
        break;
      case 3:
        res = "Banned";
        break;
      default:
        res = "Nan";
    }
    return res;
  }

  //Defino el evento de cerrar el modal: (En este caso refrescar lista)
  $("#cerrarVentanaBtn").click(function () {
    annotationId = $("#annotationId").val();
    $("#notificationBox").modal("hide");
    document.location.reload(true)
  });


  //Defino el evento de accept del modal: (En este caso submit a form)
  $("#notificationAcceptBtn").click(function () {
    annotationId = $("#annotationId").val();
    stateToChange = $("#stateToChange").val();
    objtype = $("#objtype").val();
    commentsChangeState = $("#commentsChangeState").val();

    descriptionSpan = document.getElementById("descriptionId");
    descriptionID = descriptionSpan.textContent;

    if (commentsChangeState != "") {
      if (annotationId != "") {


        //descriptionID = '{{description['id']}}';
        urlPost = `{{ url_for('authInterlink.changeAnnotation', descriptionId= 'DESCRIPTIONID', annotatorId='ANNOTATIONID', option='state' ) }}`;
        urlPost = urlPost.replace("DESCRIPTIONID", descriptionID);
        urlPost = urlPost.replace("ANNOTATIONID", annotationId);


        //Para el caso que sea un reply
        function successSearch(data) {
          let nuevoEstado = data["state"];
          $("#repState-" + annotationId).text(nuevoEstado);

          //Muestro solamente cuando esta prohibido
          if (nuevoEstado == 3) {
            $("#repStateText-" + annotationId).text(getStateText(nuevoEstado));
          } else {
            $("#repStateText-" + annotationId).text("");
          }

          $("#notificationAcceptBtn").hide();
          $("#notificationBox").modal("hide");
          document.location.reload(true)
        }


      } else {


        urlPost = `{{ url_for('authInterlink.changeAnnotation', descriptionId= 'DESCRIPTIONID', annotatorId='ANNOTATIONID', option='state' ) }}`;
        urlPost = urlPost.replace("DESCRIPTIONID", descriptionID);
        urlPost = urlPost.replace("ANNOTATIONID", annotationId);

        //Para el caso que es una anotacion base
        function successSearch(data) {
          let nuevoEstado = data["state"];
          $("#currentStateAnnotation").text(nuevoEstado);
          $("#currentStateAnnotationText").text(getStateText(nuevoEstado));
          $("#notificationAcceptBtn").hide();
          $("#notificationBox").modal("hide");
          document.location.reload(true)
        }

      }

      $.ajax({
        method: "POST",
        url: urlPost,
        contentType: "application/json;charset=UTF-8",
        data: JSON.stringify({
          stateToChange: stateToChange,
          commentsChangeState: commentsChangeState,
          objtype: objtype,
        }),
      }).done(successSearch);

    } else {
      $("#notificationBody").append(
        "<p style='color:red;'>* {{ _('A final comment is required') }}</p>"
      );
    }

  });



</script>


<hr />

{% set ns = namespace(ismoderator=false) %} {% for moderator in
  description.moderators %} {% if user.email == moderator.email %} {% set
  ns.ismoderator = true %} {% endif %} {% endfor %}


<div style="display: block">
  <div style="padding-bottom: 20;display: flex;">
    <div style="text-align: center;">
      <h4 style="color: rgb(0, 110, 153);">{{description['title']|striptags}}</h4>
      <span id="descriptionUri" hidden>{{description['url']}}</span>
      <span id="descriptionId" hidden>{{description['id']}}</span>

    </div>
    <div style="flex: auto;text-align: right;flex-direction: row;">

      <button type="button" title="{{ _('Report') }}" class="btn btn-secondary"
        style='min-width: 120px; margin: 5px;'
        onclick="window.location.href='{{ url_for('authInterlink.genReport',descriptionId= description['id'] ) }}';"
        style="padding: -2px;margin:0px;margin-left=5px;border: 0px;margin-right: 5px;">

        <i class="fa-solid fa-file-export"></i> | {{_('Generate Report')}}


      </button>

      {% if ns.ismoderator is true %}
      <button type="button" class="btn btn-secondary"
      alt="Moderators"
      title="{{ _('Moderators') }}"
      onclick="goModeratorPage(event,descriptionId= '{{ description['id'] }}')"
     ><i class="fa-solid fa-user-tie"></i> {{ _('Moderators') }}</button>
     {% endif%}

      <button class="btn btn-success" style='min-width: 173px; margin: 5px;'
        onclick="window.location.href='{{ url_for('views.augment',rutaPagina=urlMainPage) }}?description={{description['id']}}&integrationInterlinker=True';"><i
          class="fa-solid fa-play"></i> | {{_('Annotate')}}</button>








    </div>

  </div>
  <div class="row">
    <div class="col-4" style="display: flex;flex-direction: row;">
      <input id="searchBox" class="form-control me-2" type="search" placeholder="{{ _('Search') }}" aria-label="Search"
        onkeydown="searchTextEnter(event)" style="min-width: 200px;" />
      <button class="btn btn-outline-secondary" type="button" id="expFormModeration" data-bs-toggle="collapse"
        data-bs-target="#advanseSearchTools" aria-expanded="false" aria-controls="collapseExample"
        data-bs-toggle="tooltip" data-bs-placement="bottom" title="More Filters" alt="Filters">
        <i class="fa-solid fa-filter"></i>
      </button>
      <button class="btn btn-outline-secondary" onclick="searchText(event)">{{ _('Search') }}</button>



    </div>
  </div>


</div>

<div class="collapse" id="advanseSearchTools">
  <hr />

  <div class="row">
    <div class="col-4" style="display: flex;flex-direction: row;justify-content: left;">
      <h6>Type:</h6>
    </div>
    <div class="col-4" style="display: flex;flex-direction: row;justify-content: left;">
      <h6>State:</h6>
    </div>
    <div class="col-4" style="display: flex;flex-direction: row;justify-content: left;">
      <h6>Others:</h6>
    </div>

  </div>

  <div class="row">


    <div class="col-4" style="display: flex; flex-direction: row;justify-content: center;flex-wrap: wrap;">


      <div class="hstack gap-0">





        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          {% if categoryLabel == 'feedback'%}
          <input type="radio" class="btn-check" name="rbFeedback" id="rbFeedback" autocomplete="off"
            onclick="selectCategory(event);" checked>
          {% else %}
          <input type="radio" class="btn-check" name="rbFeedback" id="rbFeedback" autocomplete="off"
            onclick="selectCategory(event);">
          {% endif %}

          <label class="btn btn-outline-primary" for="rbFeedback">{{ _('Feedback') }}</label>

          {% if categoryLabel == 'term'%}
          <input type="radio" class="btn-check" name="rbTerm" id="rbTerm" onclick="selectCategory(event);"
            autocomplete="off" checked>
          {% else %}
          <input type="radio" class="btn-check" name="rbTerm" id="rbTerm" onclick="selectCategory(event);"
            autocomplete="off">
          {% endif %}

          <label class="btn btn-outline-primary" for="rbTerm">{{ _('Term') }}</label>
          {% if categoryLabel == 'question'%}
          <input type="radio" class="btn-check" name="rbQuestion" id="rbQuestion" onclick="selectCategory(event);"
            autocomplete="off" checked>
          {% else %}
          <input type="radio" class="btn-check" name="rbQuestion" id="rbQuestion" onclick="selectCategory(event);"
            autocomplete="off">
          {% endif %}
          <label class="btn btn-outline-primary" for="rbQuestion">{{ _('Question') }}</label>
          <div class="vr" style="padding-right: 3px;"></div>

          {% if categoryLabel == 'all'%}
          <input type="radio" class="btn-check" name="rbAll" id="rbAll" onclick="selectCategory(event);"
            autocomplete="off" checked>
          {% else %}
          <input type="radio" class="btn-check" name="rbAll" id="rbAll" onclick="selectCategory(event);"
            autocomplete="off">
          {% endif %}
          <label class="btn btn-outline-primary" for="rbAll">{{ _('All') }}</label>
        </div>



      </div>

    </div>




    <div class="col-4" style="display: flex; flex-direction: row-reverse;justify-content: center;flex-wrap: wrap;">

      <div class="form-check form-switch" style="padding-right: 10px;">
        <input class="form-check-input" type="checkbox" id="checkInProgress" onchange="filterState(event)" checked>
        <label class="form-check-label" for="checkInProgress">{{ _('In Progress') }}</label>
      </div>
      <div class="form-check form-switch" style="padding-right: 10px;">
        <input class="form-check-input" type="checkbox" id="checkArchived" onchange="filterState(event)">
        <label class="form-check-label" for="checkArchived">{{ _('Archived') }}</label>
      </div>
      <div class="form-check form-switch" style="padding-right: 10px;">
        <input class="form-check-input" type="checkbox" id="checkApproved" onchange="filterState(event)" checked>
        <label class="form-check-label" for="checkApproved">{{ _('Approved') }}</label>
      </div>



    </div>

    <div class="col-4" style="display: flex; flex-direction: row-reverse;justify-content: center;flex-wrap: wrap;">

      <div class="form-check" style="padding-right: 10px;">
        <input class="form-check-input" type="checkbox" id="checkMyContributions" onchange="filterState(event)">
        <label class="form-check-label" for="checkMyContributions">{{ _('My Contributions') }}</label>
      </div>


    </div>


  </div>
</div>

<hr />


{% block annotations %}
<table class="table">
  <thead>
    <tr>
      <th class="priority-2" scope="col-1"></th>

      <th class="priority-1" scope="col-7" style="min-width: 200px;">{{ _('Description') }}</th>

      <th class="priority-3" scope="col-1" style="text-align: center;">{{ _('Nro Replies') }}</th>



      <th class="priority-1" scope="col-3" style="text-align: center;">{{ _('Actions') }}</th>

    </tr>
  </thead>
  <tbody id="tablaAnnotations">
    {% for anotation in anotations %} {% if anotation.category != 'reply' %}



    {% if anotation.category == 'feedback' %}
    <!--  <tr style="background-color: #d0ffdc;" >
          -->
    <tr>
      <td class="priority-2" style="vertical-align: middle;text-align: center;">
        <!-- Quito on click para evitar confusion.
        // onclick="window.location.href='{{ url_for('views.assetSubject',descriptionId= description.id,annotatorId=anotation.id ) }}';" 
        <button class='btn'
          
          style="height: 30px;" alt="{{ _('Feedback') }}" title="{{ _('Feedback') }}">

          
        </button> -->

        <i class="fa-solid fa-file-pen" style="color:rgb(152, 82, 140);"></i>


        {% endif %}
        {% if anotation.category == 'question' %}
        <!--  <tr style="background-color: #f6ffa8;" >
          -->
    <tr></tr>
    <td class="priority-2" style="vertical-align: middle;text-align: center;">
      <!-- Quito on click para evitar confusion.
        // onclick="window.location.href='{{ url_for('views.assetSubject',descriptionId= description.id,annotatorId=anotation.id ) }}';"  
      <button class='btn'
        
        style="height: 30px;" alt="{{ _('Question') }}" title="{{ _('Question') }}">

        
      </button>-->

      <i class="fa-solid fa-file-circle-question" style="color:rgb(212, 211, 122);"></i>

      {% endif %}
      {% if anotation.category == 'term' %}
      <!--  <tr style="background-color: #ffa7fb;" >
          -->
      <tr>
        <td class="priority-2" style="vertical-align: middle;text-align: center;">
          <!-- Quito on click para evitar confusion.
        // onclick="window.location.href='{{ url_for('views.assetSubject',descriptionId= description.id,annotatorId=anotation.id ) }}';" 
          <button class='btn'
            
            style="height: 30px;" alt="{{ _('Term') }}" title="{{ _('Term') }}">

            <i class="fa-solid fa-file-pen" style="color:rgb(152, 82, 140);"></i>
          </button>-->

          <i class="fa-solid fa-file-circle-exclamation" style="color:rgb(107, 205, 166);"></i>

          {% endif %}







        </td>







        <!-- 
      <td style="text-align: center;">{{ anotation.id}} </td>
      <td style="text-align: center;"> </td>
      -->


        {% set soloTexto= anotation.text|striptags%}
        {% if soloTexto|length > 200 %}
        {% set soloTexto= anotation.text|striptags%}
        {% set textoCortado= soloTexto[0:200] %}
        <td class="priority-1">{{ textoCortado }}... <br> {{ anotation.updated|datetimeformat('DD-MM-YYYY HH:mm')}}
        </td>
        {% else %}
        {% set soloTexto= anotation.text|striptags%}
        <td>{{ soloTexto }} <br> <span style="opacity: 0.5;"> {{ anotation.updated|datetimeformat('DD-MM-YYYY HH:mm')}}
          </span> </td>
        {% endif %}

        
        <td class="priority-3" style="text-align: center;">
          <h5>
            <a class="badge bg-light text-dark position-relative" style="text-decoration: none;">
              {{ anotation.nroReplies }}

            </a>
          </h5>

        </td>

        <td class="priority-1" style="text-align: center;display: flex;justify-content: center;">



          <select onchange="getval(this);" annotationId="{{ anotation.id }}" title="{{_('Select State')}}" class="form-select"
            style="min-width:120px ;max-width: 170px;" aria-label="Default select example">

            <option value="0" {% if anotation.state==0 %} selected {% endif %}>
              {{ _('In Progress') }}</option>
            <option value="2" {% if anotation.state==2 %} selected {% endif %}>
              {{ _('Approved') }}</option>
            <option value="1" {% if anotation.state==1 %} selected {% endif %}>{{ _('Archived') }}
            </option>
          </select>

          <div class="dropdown  dropstart" style="padding-left: 10px;">
            <a class="btn btn-outline-secondary dropdown-toggle" style="max-width: 130;" href="#" role="button"
              id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              {{_('View')}}
            </a>

            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item"
                  href="{{ url_for('views.augment',rutaPagina='')}}{{anotation.uri}}?description={{ description.id }}&annotationId={{ anotation.id }}&integrationInterlinker=True">
                  <i class="fa-solid fa-eye"></i> | {{_('See in Page')}}</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>



              <li><a class="dropdown-item"
                  href="{{ url_for('views.assetSubject',descriptionId= description.id,annotatorId=anotation.id ) }}">
                  <i class="fa-solid fa-circle-chevron-down"></i> | {{_('More Details')}} </a>
              </li>

            </ul>
          </div>

        </td>


      </tr>
      {% endif %} {% endfor %}
  </tbody>
</table>





<h6 id="searchStats">{{ _('Total found') }} : <span id='totalRegisters'>{{paginacion.totalRegisters}}</span>, (<span
    id='page'>{{paginacion.page}}</span> {{ _('of') }} <span id='pagesNumbers'>{{paginacion.pagesNumbers}}</span> {{
  _('Pages') }}).</h6>


<div class="container" style="align-content: center; justify-content: center; display: flex">
  <div class="row">
    <div class="col">
      <nav aria-label="...">
        <ul class="pagination" id="paginador">


          {% for i in range(paginacion.pagesNumbers|int) %}
          <li class="page-item"><a class="page-link" href='?page={{ i+1 }}'>{{i+1}}</a></li>
          {% endfor %}



        </ul>
      </nav>
    </div>
  </div>
</div>





<script>
  var tooltipTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="tooltip"]')
  );
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });
  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
  });

  $('[data-toggle="tooltip"]').tooltip();
</script>

{% endblock %}

{% endblock %}