{% extends "templateV2.html" %}

{% block content %}
<div>
    <h2>{{ _('My Profile') }}</h2>
    <p>{{ _('Hello') }}, <span>{{ user.email }}</span>. {{ _('Below is your profile information') }}.
    </p>

</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ _('Description') }}</th>
        <th>{{ _('Value') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for key, claim in user.claims() %}
    <tr>
        <td>{{ key[0] | upper}}{{ key[1:]}}</td>
        <td id="claim-{{ key }}">
            {{ claim }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
