{% extends "templateV2.html" %} {% block content %}
<div>
  <h2>{{ _('My Settings')}}</h2>
  <p>{{ _('Your preferences')}}.</p>
</div>

<script>
  $(function () {
    $('#inputLanguage').on('change', function() {
      $(window).attr('location','/settings?lang='+this.value)
    });
});

</script>


<hr />

<form action="#">
  <div class="mb-3">
    <label for="inputLanguage" class="form-label">{{ _('Language') }}</label>

    <select
      id="inputLanguage"
      class="form-select form-select-sm"
      aria-label=".form-select-sm example"
      aria-describedby="languageHelp"
    >
      <option selected id="opLanguage"></option>>-</option>
      <option value="en">English</option>
      <option value="es">Spanish</option>
      <option value="lv">Latvian</option>
    </select>

    <div id="emailHelp" class="form-text">
      {{ _('This is your current selected language') }}.
    </div>
  </div>

  <hr />
  
  <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>
</form>

{% endblock content %}
